@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
.ano{
    padding-top: 130px;
    margin: auto;
    width: 1520px;
    height: 220px;
    z-index: 2;
}
.ano h1{
    /* font-family: sans-serif;     */
    font-size: 30px;
    margin-left: 60px;
}
.ano h6{
    font-size: 20px;
    /* font-family: sans-serif; */
    margin-top: 20px;
    margin-left: 60px;
}
input{
    padding: 10px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.042);
    border: 1px solid rgba(255, 255, 255, 0.042);
    /* z-index: 2; */
}
input:focus{
    outline: none;
    border: 1px solid aqua;
}
.pc{
    border: 1px solid rgba(0, 0, 0, 0.148);
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.148);
    display: flex;
    width:500px;
    /* z-index: 1; */
}
.pc img{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    padding: 0px 10px;
}
button{
    background-color: rgba(255, 255, 255, 0.042);
    border: 1px solid rgba(255, 255, 255, 0.042);
}
button:hover{
    background-color: rgba(66, 64, 64, 0.042);
}
.pc ::-webkit-input-placeholder{
	color: rgba(255, 255, 255, 0.512);
}
.pc ::-webkit-input{
    border: 1px solid aqua;
}
.card-title{
    display: flex;
    flex-wrap:wrap;
    width: 1400px;
    margin: auto;
    justify-content: space-between;
}
.card{
    /* border: 1px solid white; */
    background-color: #3A4F7A;
    padding: 15px;
    height: 250px;
    width: 300px;
    border-radius: 20px;
    /* font-family: sans-serif;     */
    margin-top: 55px;
    box-shadow: 3px 3px 10px rgb(39, 39, 39), 5px 5px 12px rgb(39, 39, 39);
}
.card img{
    width: 60px;
}
.card h2{
    color: white;
}
.card p{
    text-align: left;
    font-size: 18px;
    color: rgb(220, 220, 220);
}
.card a{
    text-decoration: none;
}
.card a p{
    color: #5BC0F8;
    margin-top: 70px;
}
